# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Folders
[Bb]in
[Dd]ebug*/
/ipch
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

# Other Files
*.sdf
*.suo
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.opensdf